
@{
    ViewData["Title"] = "roteiroAutenticacao";
}

<h1>Atutenticacao - (meu) passo a passo</h1>
<ol>
    <li>Criar um projeto web .Net Core (FilmesWeb), template: MVC + Autenticacai: contas de usuario individual</li>
    <li>Criar um controlador vazio (FilmesController)</li>
    <li>Atualziar as referencias do projeto (persistencia, damm!)"</li>
    <li>Alterar a injecao de dependencias do identity para usar o nosso contexto</li>
    <li>Criar uma classe para manter o profile do usuario (ApplicationUser)</li>
    <li>Configurar o contexto para gerenciar o identity</li>
    <li>Configurar ID para o contexto/identity</li>
    <li>Realizar scaffolding das rotinas de autenticacao (Areas/Identity/NovoItemScaffolding/Indentidade (opc)</li>
    <li>Corrigir ID no _loginPartial.cshtml</li>
    <li>Recuperar o usuario logado</li>

</ol>

